aiohttp==3.8.6
aiosignal==1.3.1
async-timeout==4.0.3
asynctest==0.13.0
attrs==24.2.0
charset-normalizer==3.4.7
click==8.1.8
Flask==2.2.5
frozenlist==1.3.3
gunicorn==23.0.0
idna==3.10
importlib-metadata==6.7.0
itsdangerous==2.1.2
jinja2==3.1.6
MarkupSafe==2.1.5
multidict==6.0.5
packaging==24.0
pkg-resources==0.0.0
psutil==7.2.2
PyMySQL==1.1.1
telepot==12.7
typing-extensions==4.7.1
urllib3==2.0.7
Werkzeug==2.2.3
yarl==1.9.4
zipp==3.15.0
